<div class="container-fluid mt-3">
  <form>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5">
        <div class="text-center bg-primary img-rounded borda kz-pad-20">
          <div class="row">
            <div class="col-sm-12 mb-2">
              <h3 class="text-center">Calculadora</h3>
            </div>
          </div>
          <div class="row mt-2 mb-1">
            <div class="col-sm-4 col-md-3 col-xl-2">
              <button type="button" class="btn btn-danger kz-btn" (click)="limparValor()"> CE </button>
            </div>
            <div class="col-sm-4 col-md-9 col-xl-10">
              <input 
                type="text" 
                class="form-control text-right kz-input-text"
                id="display" 
                name="display"
                [value]="display" 
                readonly>
            </div>
          </div>
          <div class="row mt-1 mb-1">
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn7" (click)="adicionarNumero('7')"> 7 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn8" (click)="adicionarNumero('8')"> 8 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn9" (click)="adicionarNumero('9')"> 9 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-warning kz-btn" id="btnDivisao" (click)="definirOperacao('/')"> / </button>
            </div>
          </div>
          <div class="row mt1 mb-1">
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn4" (click)="adicionarNumero('4')"> 4 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn5" (click)="adicionarNumero('5')"> 5 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn6" (click)="adicionarNumero('6')"> 6 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-warning kz-btn" id="btnMIltiplicacao" (click)="definirOperacao('*')"> * </button>
            </div>
          </div>
          <div class="row mt-1 mb-1">
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn1" (click)="adicionarNumero('1')"> 1 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn2" (click)="adicionarNumero('2')"> 2 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn3" (click)="adicionarNumero('3')"> 3 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-warning kz-btn" id="btnSubtracao" (click)="definirOperacao('-')"> - </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary kz-btn" id="btn0" (click)="adicionarNumero('0')"> 0 </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-warning kz-btn" id="btnDecimal" (click)="adicionarNumero('.')"> . </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-success kz-btn" id="btnCalcular" (click)="calcular()"> = </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-warning kz-btn" id="btnSoma" (click)="definirOperacao('+')"> + </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>